<%= form_for @component do |f| %>
    <% if @component.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@component.errors.count, "error") %> prohibited
            this component from being saved:
          </h2>
          <ul>
            <% @component.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :category_id %><br>
      <%= f.collection_select :category_id, @categories, :id, :title, prompt: true %>
    </p>

    <p>
      <%= f.label :room_id %><br>
      <%= f.collection_select :room_id, @rooms, :id, :title, prompt: true %>
      <!-- FIXME if no rooms.... probably also categories!!! -->
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>