<%= form_for @component do |f| %>
    <% if @component.errors.any? %>
      <div class="alert alert-danger">
        <strong>
          <%= @component.errors.count %> Fehler
          <% if @component.errors.count == 1 %>
            ist
          <% else %>
            sind
          <% end %>
          aufgetreten.
        </strong>
        <ul>
          <% @component.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Komponente</strong>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :title, :value => t('title') %>
          <%= f.text_field :title, :class => "form-control", :autofocus => true %>
        </div>
        <div class="form-group">
          <%= f.label :quantity, :value => t('quantity') %>
          <%= f.number_field :quantity, class: "form-control", min: "0"%>
        </div>
        <div class="form-group">
          <%= f.label :category_id, :value => t('category') %>
          <% if defined? @attribute_values %>
          <%= f.collection_select :category_id, @categories, :id, :title, { prompt: true }, { class: 'form-control', disabled: 'yes' } %>
          <% else %>
          <%= f.collection_select :category_id, @categories, :id, :title, { prompt: true }, { class: 'form-control' } %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :invoice, :value => t('invoice_date') %>
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" name='component[invoice]' value='<%= if defined? @component.invoice.strftime then @component.invoice.strftime("%d.%m.%Y") else '' end %>>' />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker2').datetimepicker({
                      locale: 'de',
                      format: 'DD.MM.YYYY'
                  });
              });
          </script>
        </div>
        <div class="form-group">
          <%= f.label :warranty, :value => t('warranty_date') %>
          <div class='input-group date' id='warranty_datetimepicker'>
            <input type='text' class="form-control" name='component[warranty]' value='<%= if defined? @component.warranty.strftime then @component.warranty.strftime("%d.%m.%Y") else '' end %>' />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#warranty_datetimepicker').datetimepicker({
                      locale: 'de',
                      format: 'DD.MM.YYYY'
                  });
              });
          </script>
        </div>
        <div class="form-group">
          <%= f.label :room_id, :value => t('room') %>
          <%= f.collection_select :room_id, @rooms, :id, :title, { prompt: true }, { class: 'form-control' } %>
          <!-- FIXME if no rooms.... probably also categories!!! -->
        </div>
        <div class="form-group">
          <%= f.label :supplier_id, :value => t('supplier') %>
          <%= f.collection_select :supplier_id, @suppliers, :id, :title, { prompt: true }, { class: 'form-control' } %>
          <!-- FIXME if no suppliers.... probably also categories!!! -->
        </div>
        <% if defined? @attribute_values %>
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= t('attributes') %></strong>
            </div>
            <div class="panel-body">
              <% @attribute_values.each do |av| %>
                <%= label_tag  "values_#{av.id}", @attributes.find(av.attribute_id).title %>
                <%= text_field_tag "values[#{av.id}]", av.value, class: "form-control" %><br>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <p>
      <%= f.submit value: t('save'), class: "btn btn-primary" %>
      <%= link_to "Zurück", components_path, class: "btn btn-default" %>
    </p>
<% end %>
