<h1><%= t('components') %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kategorie</th>
  </tr>

  <% @components.each do |component| %>
      <tr>
        <td><%= component.title %></td>
        <td><%= component.category.title %></td>
        <td><%= link_to t('show'), component_path(component) %></td>
        <td><%= link_to t('edit'), edit_component_path(component) %></td>
        <td><%= link_to t('delete'), component_path(component),
                        method: :delete,
                        data: { confirm: t('are_you_sure') } %></td>
      </tr>
  <% end %>
</table>
<%= link_to t('new_component'), new_component_path %>