<table border="0">
  <tr>
    <td width="75"><%= image_tag("componentsXL.png", :alt => "components") %></td>
    <td><h4><strong><%= t('components') %></strong></h4></td>
  </tr>
</table><br />

<%= form_tag(components_path, :method => "get", id: "search-form") do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a onclick="display_search();" href="#" id="display_search"><img src="images/plusM.png" id="search-display-icon"></a><strong> Suche </strong>
      </div>
      <div class="panel-body" id="search-container" style="display: none;">
        <div class="form-group">
          <%= text_field_tag :search_title, params[:search], placeholder: t('title'), class: "form-control" %>
        </div>

        <%= submit_tag t('search'), :name => nil, :class => "btn btn-primary"  %>
      </div>
    </div>
<% end %>

<%= link_to image_tag("addM.png", :alt => "add") + " " + t('new_component'), new_component_path, :class => "btn btn-primary" %><br /><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Komponenten <span class="badge"><%= @components.count %></span></strong>
  </div>
  <% if @components.count == 0 %>
      <div class="panel-body">
        Es wurden bisher noch keine Komponenten eingetragen.
      </div>
  <% else %>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= t('title') %></th>
        <th><%= t('quantity') %></th>
        <th><%= t('category') %></th>
        <th><%= t('room') %></th>
        <th><%= t('supplier') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @components.each do |component| %>
            <tr>
              <td><%= link_to component.title, component_path(component) %></td>
              <td><%= component.quantity %></td>
              <td><%= link_to component.category.title, category_path(component.category) %></td>
              <td><%= link_to component.room.title, room_path(component.room) %></td>
              <td><%= link_to component.supplier.title, supplier_path(component.supplier) %></td>
              <td>
                <%= link_to image_tag("editS.png"), edit_component_path(component),
                            :rel => "tooltip",
                            :title => t('edit') %>
                <%= link_to image_tag("deleteS.png"), component_path(component),
                            :rel => "tooltip",
                            :title => t('delete'),
                            method: :delete,
                            data: { confirm: t('are_you_sure') } %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>

<%= will_paginate @components, :previous_label => t('back'), :next_label => t('next'), renderer: BootstrapPagination::Rails %>
