<table border="0">
  <tr>
    <td width="75"><%= image_tag("componentsXL.png", :alt => "components") %></td>
    <td><h4><strong><%= t('components') %></strong></h4></td>
  </tr>
</table><br />

<%= form_tag(components_path, :method => "get", id: "search-form") do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a onclick="display_search();" href="#" id="display_search"><img src="images/plusM.png" id="search-display-icon"><strong> Suche </strong></a>
      </div>
      <div class="panel-body" id="search-container" style="display: none;">
        <div class="form-group">
          <%= text_field_tag :search_title, params[:search], placeholder: t('title'), class: "form-control" %>
        </div>

        <%= submit_tag t('search'), :name => nil, :class => "btn btn-primary"  %>
      </div>
    </div>
<% end %>

<%= link_to image_tag("addM.png", :alt => "add") + " " + t('new_component'), new_component_path, :class => "btn btn-primary" %><br /><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Komponenten <span class="badge"><%= @components.count %></span></strong>
  </div>
  <% if @components.count == 0 %>
      <div class="panel-body">
        Es wurden bisher noch keine Komponenten eingetragen.
      </div>
  <% else %>
      <%= render 'shared/components', components: @components %>
<% end %>
</div>

<%= will_paginate @components, :previous_label => t('back'), :next_label => t('next'), renderer: BootstrapPagination::Rails %>
