<table border="0">
  <tr>
    <td width="75"><%= image_tag("componentsXL.png", :alt => "components") %></td>
    <td><h4><strong><%= t('components') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'shared/searchbar', index_path: components_path %>

<%= link_to image_tag("addM.png", :alt => "add") + " " + t('new_component'), new_component_path, :class => "btn btn-primary" %><br /><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Komponenten <span class="badge"><%= @components.count %></span></strong>
  </div>
  <% if @components.count == 0 %>
      <div class="panel-body">
        Es wurden bisher noch keine Komponenten eingetragen.
      </div>
  <% else %>
      <%= render 'shared/components', components: @components %>
<% end %>
</div>

<%= will_paginate @components, :previous_label => t('back'), :next_label => t('next'), renderer: BootstrapPagination::Rails %>
