<table border="0">
  <tr>
    <td width="75"><%= image_tag("componentsXL.png", :alt => "component") %></td>
    <td><h4><strong><%= t('component') %>: <%= @component.title %></strong></h4></td>
  </tr>
</table><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong> <%= t('general_settings') %> </strong>
  </div>
  <table class="table table-hover table-striped">
    <tbody>
     <tr>
       <td width="200"><strong><%= t('quantity')%></strong></td>
       <td><%= @component.quantity %></td>
     </tr>
     <tr>
       <td><strong><%= t('category')%></strong></td>
       <td><%= if defined? @component.category.title then link_to @component.category.title, category_path(@component.category) end %></td>
     </tr>
     <tr>
       <td><strong><%= t('room')%></strong></td>
       <td><%= if defined? @component.room.title then link_to @component.room.title, room_path(@component.room) end %></td>
     </tr>
     <tr>
       <td><strong><%= t('built_in')%></strong></td>
       <td><%= if defined? @component.component.title then link_to @component.component.title, component_path(@component.component) end %></td>
     </tr>
     <tr>
       <td><strong><%= t('supplier')%></strong></td>
       <td><%= if defined? @component.supplier.title then link_to @component.supplier.title, supplier_path(@component.supplier) end %></td>
     </tr>
     <tr>
       <td><strong><%= t('invoice_date')%></strong></td>
       <td><%= if defined? @component.invoice.strftime then @component.invoice.strftime("%d.%m.%Y") end %></td>
     </tr>
     <tr>
       <td><strong><%= t('warranty_date')%></strong></td>
       <td><%= if defined? @component.warranty.strftime then @component.warranty.strftime("%d.%m.%Y") end %><br>
         <% if !@component.warranty.nil? %>
             <%= "#{t('still')} #{(@component.warranty - Time.now.to_date).to_i} #{t('time_left')}"%>
         <% end %></td>
     </tr>
     <tr>
       <td><strong><%= t('updated_at')%></strong></td>
       <td><%= (@component.updated_at + 2.hours).strftime("%d.%m.%Y %H:%M:%S") %></td>
     </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong> <%= t('attributes') %> </strong>
  </div>
  <% if not defined? @attribute_values or @attribute_values.count == 0 %>
    <div class="panel-body">
      Es wurden noch keine Attribute hinzugefügt.
    </div>
  <% else %>
    <table class="table table-hover table-striped">
      <tbody>
      <% @attribute_values.each do |av| %>
        <tr>
          <td width="200"><strong><%= @attributes.find(av.attribute_id).title %></strong></td>
          <td><%= av.value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong> <%= t('built_ins') %> </strong>
  </div>
  <% if @component.components.any? %>
      <%= render 'shared/components', components: @component.components %>
  <% else %>
      <div class="panel-body">
        Es sind hier keine Komponenten verbaut.
      </div>
  <% end %>
</div>

<%= link_to t('edit'), edit_component_path(@component), class: "btn btn-primary" %>
<%= link_to t('delete'), component_path(@component),
            method: :delete,
            data: { confirm: t('are_you_sure') },
            class: "btn btn-danger" %>
<%= link_to t('back'), components_path, class: "btn btn-default" %>
