<table border="0">
  <tr>
    <td width="75"><%= image_tag("userEditXL.png", :alt => "edit supplier") %></td>
    <td><h4><strong><%= t('edit_user') %></strong></h4></td>
  </tr>
</table><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong><%= t('edit_user') %></strong>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :email, t('email') %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :password, t('new_password') %> <i>(leer lassen wenn keine Änderung gewünscht ist)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t('confirm_new_password') %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password, t('current_password') %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('save'), class: "btn btn-primary" %>
    <%= link_to t('back'), :back, class: "btn btn-default" %>
  </div>
<% end %><br /><br />

<div class="panel panel-danger">
  <div class="panel-heading">
    <strong>Danger Zone</strong>
  </div>
  <div class="panel-body">
    <%= button_to t('cancel_account'), registration_path(resource_name),
                  data: { confirm: "Are you sure?" },
                  method: :delete,
                  class: "btn btn-danger"  %>
  </div>
</div>
