<table border="0">
  <tr>
    <td width="75"><%= image_tag("registerXL.png", :alt => "sign up")%></td>
    <td><h4><strong><%= t('sign_up') %></strong></h4></td>
  </tr>
</table><br/>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= t('sign_up') %></strong>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label "email", t('email') %>
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "password", t('password') %>
      <% if @minimum_password_length %>
      <em>(<%= "min. #{@minimum_password_length.to_s} #{t('chars')}"%>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "password_confirmation", t('password_confirm') %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>
   </div>
  </div>

  <%= f.submit t('sign_up'), :class => "btn btn-primary" %>
<% end %>

<br />
<p>
  <%= render "devise/shared/links" %>
</p>
