<%= form_for @attribute do |f| %>
    <% if @attribute.errors.any? %>
        <div class="alert alert-danger">
        <strong>
          <%= @attribute.errors.count %> Fehler
          <% if @attribute.errors.count == 1 %>ist<% else %>sind<% end %> aufgetreten:
        </strong>
          <ul>
            <% @attribute.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= t('attribute') %></strong>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, :class => "form-control" %>
        </div>
      </div>
    </div>

    <p>
      <%= f.submit :value => t("save"), :class => "btn btn-primary" %>
      <%= link_to t('back'), attributes_path, :class => "btn btn-default" %>
    </p>
<% end %>
