<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this category from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>User</strong>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "form-control", :autofocus => true, disabled: 'yes' %>
          <%= f.collection_select :role_id, @roles, :id, :name, { prompt: true }, { class: 'form-control'} %>
        </div>
         </div>
         </div>
        </div>
        </div>
        <p>
        <%= f.submit :value => t("save"), :class => "btn btn-primary" %>
        </p>
<% end %>
