<table border="0">
  <tr>
    <td width="75"><%= image_tag("roomsXL.png", :alt => "room") %></td>
    <td><h4><strong><%= t('rooms') %></strong></h4></td>
  </tr>
  </table><br/>

 <%= link_to image_tag("addM.png", :alt => "add") + " " + t('new_room'), new_room_path, :class => "btn btn-primary" %><br /><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= t('rooms') %> <span class="badge"><%= @rooms.count %></span> </strong>
  </div>
    <% if @rooms.count == 0 %>
    <div class="panel-body">
      <%= t('no_rooms')%>
    </div>
    <% else %>
    <table class="table table-hover table-striped">
      <thead>
       <tr>
         <th width="350"><%= t('title') %></th>
         <th></th>
       </tr>
      </thead>
      <tbody>
      <% @rooms.each do |room| %>
          <tr>
            <td><%= room.title %></td>
            <td>
              <%= link_to image_tag("editS.png", :rel => "tooltip", :title => t('edit')), edit_room_path(room) %>
              <%= link_to image_tag("deleteS.png", :rel => "tooltip", :title => t('delete')), room_path(room),
                            method: :delete,
                            data: { confirm: t('are_you_sure') } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
</div>

<%= will_paginate @rooms, :previous_label => t('back'), :next_label => t('next'), renderer: BootstrapPagination::Rails %>
