<p>
  <strong><%= t('title') %></strong>
  <%= @room.title %>
</p>

<p>
  <% @room.components.each do |component| %>
    <%= component.title %><br>
  <% end %>
</p>

<%= link_to t('edit'), edit_room_path(@room) %> |
<%= link_to t('back'), rooms_path %>

