<%= form_for @category do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@category.errors.count, "error") %> prohibited
            this category from being saved:
          </h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= label_tag t('attribute') %><br>
      <% @attributes.each do |attribute| %>
          <%= label_tag attribute.title do %>
              <% if @category.addribude.include? attribute %>
                  <%= check_box_tag "attributes[#{attribute.title}]", attribute.id, checked: 'checked' %>
              <% else %>
                  <%= check_box_tag "attributes[#{attribute.title}]", attribute.id %>
              <% end %>
              <%= attribute.title %>
          <% end %><br>
      <% end %>

    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>