<table border="0">
  <tr>
    <td width="75"><%= image_tag("categoryXL.png", :alt => "category") %></td>
    <td><h4><strong><%= t('category') %>: <%= @category.title %></strong></h4></td>
  </tr>
</table><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= t('attributes') %></strong> <span class="badge"><%= @category.addribude.all.count %></span>
  </div>
  <% if @category.addribude.all.count == 0 %>
  <div class="panel-body">
    Es wurden noch keine Attribute hinzugefügt.
  </div>
  <% else %>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th width="350"><%= t('title') %></th>
      </tr>
    </thead>
    <tbody>
      <% @category.addribude.all.each do |c| %>
        <tr>
          <td><%= c.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong> <%= t('components') %> </strong>
  </div>
  <%= render 'shared/components', components: @category.components %>
</div>

<%= link_to t('edit'), edit_category_path(@category), :class => "btn btn-primary"  %>
<%= link_to t('delete'), category_path(@category),
            method: :delete,
            data: { confirm: t('are_you_sure') },
            class: "btn btn-danger" %>
<%= link_to t('back'), categories_path, :class => "btn btn-default" %>