<table border="0">
  <tr>
    <td width="75"><%= image_tag("supplierXL.png", :alt => "supplier") %></td>
    <td><h4><strong><%= t('suppliers') %></strong></h4></td>
  </tr>
</table><br />

<%= form_tag(suppliers_path, :method => "get", id: "search-form") do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a onclick="display_search();" href="#" id="display_search"><img src="images/plusM.png" id="search-display-icon"><strong> Suche </strong></a>
      </div>
      <div class="panel-body" id="search-container" style="display: none;">
        <div class="form-group">
          <%= text_field_tag :search_title, params[:search], placeholder: t('title'), class: "form-control" %>
        </div>

        <%= submit_tag t('search'), :name => nil, :class => "btn btn-primary"  %>
      </div>
    </div>
<% end %>

<%= link_to image_tag("addM.png", :alt => "add") + " " + t('new_supplier'), new_supplier_path, :class => "btn btn-primary" %><br /><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= t('suppliers') %> <span class="badge"><%= @suppliers.count %></span> </strong>
  </div>
    <% if @suppliers.count == 0 %>
    <div class="panel-body">
        <%= t('no_suppliers') %>
    </div>
    <% else %>
    <table class="table table-hover table-striped">
      <thead>
       <tr>
         <th width="350">Name</th>
         <th></th>
       </tr>
      </thead>
      <tbody>
      <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= link_to supplier.title, supplier_path(supplier) %></td>
            <td>
              <%= link_to image_tag("editS.png", :rel => "tooltip", :title => t('edit')), edit_supplier_path(supplier) %>
              <%= link_to image_tag("deleteS.png", :rel => "tooltip", :title => t('delete')), supplier_path(supplier),
                            method: :delete,
                            data: { confirm: t('are_you_sure') } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
</div>

<%= will_paginate @suppliers, :previous_label => t('back'), :next_label => t('next'), renderer: BootstrapPagination::Rails %>

