<table border="0">
  <tr>
    <td width="75"><%= image_tag("supplierXL.png", :alt => "supplier") %></td>
    <td><h4><strong><%= t('supplier') %>: <%= @supplier.title %></strong></h4></td>
  </tr>
</table><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong> <%= t('components') %> </strong>
  </div>
  <%= render 'shared/components', components: @supplier.components %>
</div>

<%= link_to t('edit'), edit_supplier_path(@supplier), class: "btn btn-primary" %>
<%= link_to t('delete'), supplier_path(@supplier),
            method: :delete,
            data: { confirm: t('are_you_sure') },
            class: "btn btn-danger" %>
<%= link_to t('back'), suppliers_path, class: "btn btn-default" %>