<!DOCTYPE html>
<html>
<head>
  <title><%= t('app_title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'default', :media => 'screen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'utilities' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      <%= t('logged_in_as') %> <strong><%= current_user.email %></strong>.
      <%= link_to image_tag('editM.png', { :title => t('edit_profile') }), edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to image_tag('logoutM.png', { :title => t('logout') }), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to image_tag('registerM.png', { :title => t('sign_up') }), new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to image_tag('loginM.png', { :title => t('login') }), new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

  <div id="header">
    <%= link_to image_tag("logo.png", :alt => "logo"), root_path %>
  </div>
  <% if current_user %>
      <% if request.env['PATH_INFO'] != '/' %>
      <div id="navigation">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"><%= link_to "Dashboard", root_path %></li>
          <li role="presentation"><%= link_to "Komponenten", components_path %></li>
          <li role="presentation"><%= link_to "Kategorien", categories_path %></li>
          <li role="presentation"><%= link_to "Räume", rooms_path %></li>
          <li role="presentation"><%= link_to "Lieferanten", suppliers_path %></li>
          <li role="presentation"><%= link_to "Attribute", attributes_path %></li>
          <% if current_user.role.name == "Admin" %>
              <!-- #TODO: replace with .admin? later -->
              <li role="presentation"><%= link_to "Benutzerverwaltung", users_path %></li>
          <% end %>
        </ul>
      </div>
      <% else %>
      <div id="navigation-fake">
       &nbsp;
      </div>
      <% end %>
  <% end %>
  <div id="content">

    <% if flash.any? %>
        <div class="alert alert-info">
          <ul>
            <% flash.each do |key, value| %>
                <%= value %>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
    <%= link_to("GitHub Project", "https://github.com/thutterer/components", { :target => "_blank" }) %>
    (<%= link_to("Contributors", "https://github.com/thutterer/components/graphs/contributors", { :target => "_blank" }) %>)
  </div>

  </body>
</html>
